.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card-div{
  float: left;
  height: 300px;
  width: 200px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter{
  width: 100%;
  display: block;
  min-height: 65px;
  z-index: 10;
}

.filterItem{
  width: 300px;
  float: left;
}

.select{
  width: 200px;
  float: left;
}

label{
  margin: 10px;
  width: 50px;
  float: left;
}

.button{
  margin-left: 15px;
  padding: 10px;
  float: left;
}

.card{
  width: 200px;
  margin: 5px;
  z-index: -1;
}

.card-energy{
  position: relative;
  top: -272px;
  left: -67px;
  font-size: 25pt;
  font-weight: bold;
  color: white;
}

.card-title{
  position: relative;
  color: white;
  top: -304px;
  left: 13px;
  font-size: 13pt;
  font-weight: bold;
}

.card-description{
  position: relative;
  color: white;
  top: -175px;
  left: 40px;
  font-size: 10pt;
  width: 145px;
  vertical-align: middle;
  height: 100px;
  display: table-cell;
}