body {
  background-color: #0a212c;
  color: aquamarine;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card-div {
  float: left;
  height: 300px;
  width: 200px;
  padding: 10px;
}

.rune-div {
  float: left;
  height: 300px;
  width: 200px;
  padding: 10px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.title {
  font-size: 45pt;
  padding: 10px;
}

.filter {
  width: 100%;
  display: table-cell;
  min-height: 65px;
  z-index: 10;
}

.filterItem {
  width: 300px;
  float: left;
}

.select {
  width: 200px;
  float: left;
  color: #0a212c;
}

label {
  margin: 10px;
  width: 50px;
  float: left;
}

.reset-button {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  float: left;
  border-radius: 6px;
}

.card {
  width: 200px;
  margin: 5px;
  z-index: -1;
}

.runeCard {
  width: 200px;
  margin: 5px;
  z-index: -1;
}

.card-energy {
  position: relative;
  top: -272px;
  left: -67px;
  font-size: 25pt;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #000;
}

.card-title {
  position: relative;
  color: white;
  top: -140px;
  left: 80px;
  font-size: 10pt;
  font-weight: bold;
  text-align: left;
}

.card-description {
  position: relative;
  color: white;
  top: -140px;
  left: 40px;
  font-size: 8pt;
  width: 145px;
  vertical-align: middle;
  height: 100px;
  display: table-cell;
}

.rune-title {
  position: relative;
  color: white;
  top: -210px;
  left: 6px;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

.rune-description {
  position: relative;
  color: white;
  top: -215px;
  left: 20px;
  font-size: 8pt;
  width: 170px;
  vertical-align: middle;
  height: 100px;
  display: table-cell;
}

.rune-icon {
  position: relative;
  top: -476px;
  left: -62px;
  width: 37px;
}

.navigator a {
  color: rgb(247, 228, 209);
  margin: 30px;
  text-decoration: none;
  font-weight: bold;
}

.navigator a:hover {
  color: aquamarine;
}

.menu-img {
  height: 30px;
}

.rune {
  position: relative;
  width: 85px;
  top: -244px;
  left: 29px;
}

.runeicon{
  width: 45px;
  position: relative;
  top: -314px;
  left: -103px;
}

.rune-letter{
  position: relative;
  top: -480px;
  left: 72px;
  font-size: 25pt;
  font-weight: bold;
}

.rune-Common{
  color: white;
  text-shadow: 1px 1px 1px black;
}
.rune-Rare{
  color: greenyellow;
  text-shadow: 1px 1px 1px black;
}
.rune-Epic{
  color: blue;
}
.rune-Mystic{
  color: darkviolet;
}

@media screen and (max-width: 500px) {
  .card {
    width: 150px;
  }

  .Card-div {
    width: 150px;
    height: 230px;
  }

  .card-description {
    top: -120px;
    left: 35px;
    font-size: 7pt;
    width: 110px;
    height: 100px;
  }

  .card-title {
    top: -107px;
    left: 61px;
    font-size: 8pt;
  }

  .runeCard {
    width: 150px;
  }
  
  .rune {
    width: 65px;
    top: -185px;
    left: 24px;
  }

  .rune-div {
    width: 150px;
    height: 230px;
  }

  .rune-description {
    top: -195px;
    left: 15px;
    font-size: 7pt;
    width: 130px;
    height: 100px;
  }

  .rune-title {
    top: -185px;
    left: 7px;
    font-size: 8pt;
  }

  .runeicon {
    width: 35px;
    position: relative;
    top: -239px;
    left: -77px;
}

  .title {
    font-size: 32pt;
    position: relative;
    top: 15px;
  }

  .navigator a {
    margin: 15px;
  }

  .menu-img {
    height: 20px;
  }
}
