body {
  background-color: #0a212c;
  color: #0394ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: saddlebrown;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid rgb(247, 228, 209);
}

.App-link {
  color: #61dafb;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.title {
  font-size: 40pt;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0394ff;
}

.filter {
  display: table-cell;
  min-height: 65px;
  z-index: 10;
  margin: auto;
}

.filterItem {
  width: 300px;
  float: left;
}

.wideItem {
  width: 500px;
  float: left;
}

.wideItem label{
  width: 130px;
}

.select {
  width: 200px;
  float: left;
  color: #0a212c;
}

label {
  margin: 10px;
  width: 50px;
  float: left;
}

.reset-button {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  float: left;
  border-radius: 6px;
  cursor: pointer;
}

.Card-div {
  float: left;
  height: 330px;
  width: 210px;
  padding: 10px;
}

.card {
  width: 210px;
  margin: 5px;
  z-index: -1;
}

.card-energy {
  position: relative;
  top: -272px;
  left: -67px;
  font-size: 25pt;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #000;
}

.card-title {
  position: relative;
  color: white;
  top: -143px;
  left: 87px;
  width: 115px;
  font-size: 10pt;
  font-weight: bold;
  text-align: left;
}

.card-description {
  position: relative;
  color: white;
  top: -137px;
  left: 39px;
  font-size: 9pt;
  width: 165px;
  vertical-align: middle;
  height: 100px;
  display: table-cell;
}

.tooltip {
  display: inline;
  color: yellow;
  cursor: pointer;
}

.navigator a {
  color: rgb(247, 228, 209);
  margin: 30px;
  text-decoration: none;
  font-weight: bold;
}

.navigator a:hover {
  color: #0394ff;
}

.menu-img {
  height: 30px;
}

.curse-explorer {
  max-width: 1610px;
  margin: auto;
}

.tool-explorer {
  max-width: 1150px;
  margin: auto;
}

.rune-title {
  position: relative;
  color: white;
  top: -145px;
  left: 18px;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  width: 175px;
  height: 25px;
}

.rune-description {
  position: relative;
  color: white;
  top: -105px;
  left: 10px;
  font-size: 8pt;
  width: 190px;
  vertical-align: top;
  height: 90px;
  display: table-cell;
}

.rune-icon {
  position: relative;
  top: -476px;
  left: -62px;
  width: 37px;
}

.rune-div {
  float: left;
  height: 300px;
  width: 200px;
  padding: 10px;
}

.runeCard {
  width: 200px;
  margin: 5px;
  z-index: -1;
}

.rune {
  position: relative;
  width: 85px;
  top: -160px;
  left: 28px;
}

.runeicon {
  width: 45px;
  position: relative;
  top: -235px;
  left: -98px;
}

.rune-letter {
  position: relative;
  top: -480px;
  left: 72px;
  font-size: 25pt;
  font-weight: bold;
}

.rune-Common {
  color: black;
}

.rune-Rare {
  color: green;
}

.rune-Epic {
  color: blue;
}

.rune-Mystic {
  color: darkviolet;
}

.rune-description .card-description {
  top: 0px;
  left: 13px;
  vertical-align: top;
}

.effect-div {
  float: left;
  height: 200px;
  width: 170px;
  padding: 10px;
}

.effect {
  position: relative;
  height: 85px;
}

.effect-title {
  position: relative;
  color: dodgerblue;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.effect-description {
  position: relative;
  color: white;
  font-size: 9pt;
  width: 170px;
  vertical-align: top;
  padding-top: 5px;
  height: 75px;
  display: table-cell;
}

.effect-Buff {
  color: yellowgreen;
}
.effect-Debuff {
  color: indianred;
}
.effect-Card {
  color: yellow;
}

.potentialCost {
  position: relative;
  color: white;
  font-size: 26pt;
  top: -360px;
  left: 35px;
  width: 20px;
  font-weight: bold;
  -webkit-text-stroke: 2pt black;
}

.news-div {
  background-color: saddlebrown;
  margin: auto;
  width: 30vw;
  min-width: 350px;
  margin-top: 60px;
  min-height: 100px;
  border: 3px solid white;
  border-radius: 25px;
}

.news-img {
  width: 100px;
  position: relative;
  top: -25px;
  left: 20px;
  float: left;
}
.news-title {
  padding-left: 130px;
  padding-bottom: 10px;
  font-size: 15pt;
  font-weight: bold;
}
.news-description {
  padding-left: 130px;
  padding-right: 20px;
  font-style: italic;
  color: white;
}

.react-tooltip-lite {
  background-color: saddlebrown;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.react-tooltip-lite-arrow {
  border-color: white;
}

.goTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  z-index: 5;
  cursor: pointer;
}

.summon-explorer {
  max-width: 950px;
  margin: auto;
}

.summon-div {
  float: left;
  height: 200px;
  width: 170px;
  padding: 10px;
}

.summon {
  position: relative;
  height: 90px;
  border-radius: 45px;
}

.summon-title {
  position: relative;
  color: dodgerblue;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.summon-div .card-description {
  position: inherit;
  color: white;
  width: 170px;
  vertical-align: top;
  padding: 5px;
}

.team-explorer {
  max-width: 1080px;
  margin: auto;
}

.axie {
  margin: 20px;
  width: 320px;
  float: left;
}

.axie-hp {
  font-size: 15pt;
  font-weight: bold;
}

.axie td {
  width: 200px;
  min-width: 40px;
  color: white;
}

.axie th {
  text-align: right;
  text-transform: capitalize;
}

.axie-class-icon {
  height: 34px;
}

.attack-value {
  font-weight: bold;
  color: red;
}

.defense-value {
  font-weight: bold;
  color: dodgerblue;
}

.healing-value {
  font-weight: bold;
  color: green;
}

.potential-points {
  font-size: 16pt;
  margin: 8px;
}

.potential-points .axie-class-icon {
  margin-right: 3px;
  height: 25px;
  vertical-align: text-bottom;
}

.potential-points b{
  color: red;
}

.css-1insrsq-control {
  background-color: lightgray !important;
}

.textfield{
  height: 16px;
  border-radius: 4px;
  padding: 10px;
  width: 320px;
}

.wallet-div{
  display: inline-block;
  padding: 30px;
}

.wallet-div label{
  text-align: right;
}

.wallet-div span {
  margin: 10px 5px;
  text-align: right;
  width: 85px;
  float: left;
  color: white;
}

.token{
  float: left;
}

.money{
  width: 110px;  
}

.token-img{
  float: left;
  width: 25px;
  top: 10px;
  position: relative;
  left: -10px;
}

.wallet-axie{
  float: left;
  width: 200px;
  height: 510px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.wallet-axie .potential-block{
  margin: 10px 0 ;
}

.wallet-axie .potential-points{
  margin: 0px auto;
  color: white;
}

.axies-div{
  display: table-cell;
}

.axieImage{
  width: 200px;
}

.axieIcon {
  width: 25px;
  position: relative;
  left: -85px;
  top: 5px;
}

.axieid {
  margin-left: -80px;
  color: white;
}

.axieName {
  display: block;
  margin: 10px 0px;
}

.axieLink{
  display: block;
  background-color: saddlebrown;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  box-shadow: 3px 3px #444;
  width: 65px;
  float: left;
  font-size: 9pt;
}

.axieParts li {
  text-align: left;
  color: white;
  list-style: none;
  margin-left: -30px;
}

.axieParts img {
  width: 21px;
  padding: 2px;
  border-radius: 15px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.Bird{
  background-color: hotpink;
}

.Aquatic{
  background-color: aqua;
}

.Plant{
  background-color: greenyellow;
}

.Beast{
  background-color: orange;
}

.Reptile{
  background-color: blueviolet;
}

.Bug{
  background-color: crimson;
}

.fondolupa{
  background-image: url(./img/icons/lupa.png);
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 20px;
  padding-right: revert;
}

@media screen and (max-width: 500px) {
  .card {
    width: 150px;
  }

  .Card-div {
    width: 150px;
    height: 230px;
  }

  .card-description {
    top: -118px;
    left: 35px;
    font-size: 6pt;
    width: 110px;
    height: 100px;
  }

  .card-title {
    top: -107px;
    left: 61px;
    font-size: 8pt;
    width: 100px;
  }

  .runeCard {
    width: 160px;
  }

  .rune {
    width: 65px;
    top: -125px;
    left: 24px;
  }

  .rune-div {
    width: 160px;
    height: 230px;
  }

  .rune-description {
    top: -85px;
    left: 5px;
    font-size: 7pt;
    width: 160px;
    height: 100px;
  }

  .rune-title {
    top: -120px;
    left: 25px;
    font-size: 8pt;
    width: 125px;
  }

  .runeicon {
    width: 35px;
    position: relative;
    top: -179px;
    left: -73px;
  }

  .title {
    font-size: 28pt;
    position: relative;
    top: 15px;
  }

  .navigator a {
    margin: 15px;
  }

  .menu-img {
    height: 20px;
  }

  .effect-div {
    width: 160px;
  }

  .effect-description {
    width: 160px;
  }

  .potentialCost {
    position: relative;
    font-size: 20pt;
    top: -315px;
    left: 30px;
    -webkit-text-stroke: 1pt black;
  }

  .goTop {
    width: 45px;
    height: 45px;
  }

  .summon-div {
    width: 150px;
  }

  .wideItem {
    width: auto;
  }
  
  .wideItem label{
    width: auto;
  }

  .textfield{
    width: 200px;
  }

  .wallet-div {
    padding: 10px;
  }

  .wallet-div span {
    float: right;
    margin-bottom: -10px;
  }

  .money{
    width: 75px;
    margin: 10px 0;
  }

}
